# .gitignore

# Python
*.py[oc]
__pycache__/
*.egg-info
.eggs/
.mypy_cache/*
.pyre/
.pytest_cache/
.ruff_cache/
.dmypy.json

# Build artifacts
build/
dist/
*.so
out*/
*.stl
*.txt
*.pkl

videos/
environments/
screenshots/
scratch/
