# requirements.txt

# Training
tqdm
colorlogging

# Subsequent Jax versions are much slower with MJX.
jax==0.4.30
jaxlib==0.4.30

# Environment
brax==0.10.5
distrax
equinox
optax

# Models
kscale

# Configuration management.
omegaconf

# Types
types-tqdm
